@model IEnumerable<ImageGallery.Models.Gallery>

@{ViewBag.Title = "Galleries";}
<style type="text/css">
    table,tr,th,td 
    {
        border:1px solid gray;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        text-align: center;
    }
</style>
<h2>Free for All Image Galleries (No Nudity or Porn Please)</h2>
    @foreach (var item in Model.ToList().OrderBy(m => m.Name))
    {
        <span style="float:left;padding:5px;text-align:center;">
                @try
                {
                    <a style="outline:none;" href="@Url.Action("ThumbnailView", new { id = item.id.ToString() })">
                        @{
                            if (item.Images.Count() > 0)
                            {

                                if (item.Images[0].ThumbnailId == null || item.Images[0].ThumbnailId.ToString() == "000000000000000000000000")
                                {
                                    <img style="border:0;" alt="image" src="@Url.Content("~/Content/Images/ThumbnailNotAvailable.jpg")" />
                                }
                                else
                                {
                                    <img style="border:0;" alt="image" src="@Url.Action("FileContent")/@Html.Raw(item.Images[0].ThumbnailId.ToString())" />    
                                }

                            }
                            else
                            {
                                <img style="border:0;" alt="image" src="@Url.Content("~/Content/Images/ThumbnailNotAvailable.jpg")" />
                            }
                        }
                    </a>
                }
                catch
                {

                }
                <br />
                @Html.DisplayFor(modelItem => item.Name)
        </span>
    }
    <div style="float:break;clear:both;">
        <br />
        <hr />
        @Html.ActionLink("Create New", "Create")
    </div>
    
