@using ImageGallery.Models;
@model Gallery
@{
    ViewBag.Title = "Thumbnail View";
}
<h2>@Html.Raw(@Model.Name) <span>Gallery</span></h2>
<div>@Html.ActionLink("Add File", "AddFile", new { id = Model.id.ToString() }) | 
@Html.ActionLink("Galleries", "Index")</div>
@foreach (Image i in Model.Images)
{
    <div style="float:left;padding:5px;">
        <a style="outline:none;" href="@Url.Action("FileContent")/@Html.Raw(i.ImageFileId.ToString())">
            <img style="border:0;" alt="image" src="@Url.Action("FileContent")/@Html.Raw(i.ThumbnailId.ToString())" />
        </a>
    </div>
}