@using ImageGallery.Models;
@model Gallery
@{ViewBag.Title = @Model.Name;}
<h2>@Html.Raw(@Model.Name)</h2>
<div style="position:relative;left:25px;top:-20px;">
@Html.ActionLink("Galleries", "Index") | 
@Html.ActionLink("Rename", "Edit", new { id = Model.id.ToString() }) | 
@Html.ActionLink("Add File", "AddFile", new { id = Model.id.ToString() }) |
@Html.ActionLink("Delete", "Delete", new { id = Model.id.ToString() })
</div>
<div style="position:relative;top:-12px;">
    <hr />
    @foreach (Image i in Model.Images)
    {
        <div style="float:left;padding:5px;">
            
            
            <a style="outline:none;text-decoration:none;" href="@Url.Action("FileContent")/@Html.Raw(i.ImageFileId.ToString())">
                @{
                    
                    if (i.ThumbnailId == null || i.ThumbnailId.ToString() == "000000000000000000000000")
                    {
                        <img style="border:0;" alt="image" src="@Url.Content("~/Content/Images/ThumbnailNotAvailable.jpg")" />
                    }
                    else
                    {
                        
                        <img style="border:0;" alt="image" src="@Url.Action("FileContent")/@Html.Raw(i.ThumbnailId.ToString())" />
                    }
                }
            </a>
            <br />
            <div style="text-align:center;">
            @Html.Raw(i.HitCount) Hits
            </div>
        </div>
    }
</div>